NODE_ENV=development
COOKIE_DOMAIN=
OPENROUTESERVICE_API_KEY=your_openrouteservice_key

# DB
MIGRATION_DATABASE_URL=postgres://postgres:postgres@postgres:PORT/dbname # Superuser connection
DATABASE_URL=postgres://app_runtime:devpassword@postgres:PORT/dbname # app_runtime user connection
SEED_DATABASE_URL=postgres://postgres:postgres@localhost:PORT/dbname # Seed scripts run from the host
MONGODB_URL=mongodb://mongo:PORT
MONGODB_DATABASE=dbname

# Secrets
JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret
JWT_VERIFY_SECRET=secret

